// Fonts
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
$main-font: 'Share Tech Mono', monospace;
$num-family: 'Share Tech Mono', monospace;

// Colors
$white: #fff;
$black: #000;
$palette: #001c29, #1b98e0, #006494, #13293d, #e8f1f2;

// General
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $main-font;
  font-size: 16px;
  background: nth($palette, 1);
}

// Countdown Styles
.countdown {
  text-align: center;
}
.timer {
  perspective: 1000px;
  .box {
    display: inline-block;
    margin: 1rem;
    width: 10rem;
    text-align: center;
    background: nth($palette, 3);
    //needed for firestorm
    -moz-transform-style: preserve-3d;
    &:nth-child(2) .value {
      animation-delay: 1s;
    }
    &:nth-child(3) .value {
      animation-delay: 1.8s;
    }
    &:nth-child(4) .value {
      animation-delay: 1.3s;
    }
    &:nth-child(5) .value {
      animation-delay: 2s;
    }
    .spacer {
      position: relative;
      content: '';
      display: block;
      height: 20px;
      background: nth($palette, 2);
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 5px;
        width: 10px;
        height: 10px;
        background: nth($palette, 1);
        border-radius: 50%;
      }
      &::before {
        left: 0.8rem;
      }
      &::after {
        right: 0.8rem;
      }
    }
    .value {
      position: relative;
      margin: 0;
      padding: 1.2rem 0 2rem;
      font-family: $num-family;
      font-size: 3em;
      color: rgba(nth($palette, 5), 0.6);
      background: nth($palette, 2);
      transform-origin: top center;
      animation: wind 4s ease-out alternate infinite;
      box-shadow: 0 15px 10px -10px rgba(nth($palette, 4), 0);
    }
    .label {
      margin: 0;
      padding: 1rem;
      color: rgba($white, 0.8);
      background: nth($palette, 3);
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
  .text {
    margin-top: 2rem;
    font-weight: 300;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    color: nth($palette, 4);
  }
}
.expired-timer {
  .box {
    width: 100%;
  }
}

// Drawing
.bus {
  transform: scale(0.8);
  position: relative;
  width: 120px;
  height: 100px;
  margin: 3rem auto 4rem;
  border-radius: 30px 30px 0 0;
  background: nth($palette, 5);
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 100%;
    width: 20px;
    height: 20px;
    border-radius: 0 0 2px 2px;
    background: nth($palette, 5);
  }
  &::before {
    left: 0.5rem;
  }
  &::after {
    right: 0.5rem;
  }
  .windows {
    position: absolute;
    top: 20px;
    left: 0.5rem;
    right: 0.5rem;
    height: 35px;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: 48%;
      height: 100%;
      background: rgba($white, 0.7);
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
  .lights {
    position: absolute;
    bottom: 10px;
    left: 0.5rem;
    right: 0.5rem;
    height: 10px;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: 10px;
      height: 10px;
      background: nth($palette, 2);
      border-radius: 50%;
    }
    &::before {
      left: 16px;
      box-shadow: -16px 0 0 2px rgba($white, 0.5), 14px 0 0 nth($palette, 3);
      animation: lighting 6s 2s linear infinite;
    }
    &::after {
      right: 16px;
      box-shadow: 16px 0 0 2px rgba($white, 0.5), -14px 0 0 nth($palette, 3);
      animation: lighting2 6s 2s linear infinite;
    }
  }
  .street {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
    height: 1px;
    background: rgba(nth($palette, 4), 0.8);
    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 1px;
      left: 50%;
      transform: translateX(-50%);
    }
    &::before {
      top: 10px;
      width: 110px;
      background: rgba(nth($palette, 4), 0.6);
    }
    &::after {
      top: 20px;
      width: 90px;
      background: rgba(nth($palette, 4), 0.4);
    }
  }
}

// ANIMATIONS
@keyframes wind {
  0% {
    transform: rotatex(0);
    box-shadow: 0 15px 10px -10px rgba(nth($palette, 4), 0);
    color: rgba(nth($palette, 5), 0.6);
    background: nth($palette, 2);
  }
  10% {
    transform: rotatex(20deg);
    box-shadow: 0 15px 10px -10px darken(nth($palette, 4), 5%);
    color: rgba(nth($palette, 5), 0.45);
    background: lighten(nth($palette, 2), 3%);
  }
}
@keyframes lighting {
  0% {
    box-shadow: -16px 0 0 2px rgba($white, 0.5), 14px 0 0 nth($palette, 3);
  }
  4% {
    box-shadow: -16px 0 0 2px rgba($white, 1), 14px 0 0 nth($palette, 3);
  }
  8% {
    box-shadow: -16px 0 0 2px rgba($white, 0.5), 14px 0 0 nth($palette, 3);
  }
  12% {
    box-shadow: -16px 0 0 2px rgba($white, 1), 14px 0 0 nth($palette, 3);
  }
  20% {
    box-shadow: -16px 0 0 2px rgba($white, 1), 14px 0 0 nth($palette, 3);
  }
  22% {
    box-shadow: -16px 0 0 2px rgba($white, 0.5), 14px 0 0 nth($palette, 3);
  }
}
@keyframes lighting2 {
  0% {
    box-shadow: 16px 0 0 2px rgba($white, 0.5), -14px 0 0 nth($palette, 3);
  }
  4% {
    box-shadow: 16px 0 0 2px rgba($white, 1), -14px 0 0 nth($palette, 3);
  }
  8% {
    box-shadow: 16px 0 0 2px rgba($white, 0.5), -14px 0 0 nth($palette, 3);
  }
  12% {
    box-shadow: 16px 0 0 2px rgba($white, 1), -14px 0 0 nth($palette, 3);
  }
  20% {
    box-shadow: 16px 0 0 2px rgba($white, 1), -14px 0 0 nth($palette, 3);
  }
  22% {
    box-shadow: 16px 0 0 2px rgba($white, 0.5), -14px 0 0 nth($palette, 3);
  }
}

// Responsive
@media screen and (max-width: 800px) {
  .countdown {
    width: 100%;
    max-width: 25rem;
  }
}
@media screen and (max-width: 480px) {
  .timer {
    .box {
      margin: 1rem 0.5rem;
      width: 8rem;
    }
  }
  .expired-timer {
    .box {
      width: 18rem;
    }
  }
}
