@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");
*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Share Tech Mono", monospace;
  font-size: 16px;
  background: #001c29;
  overflow: hidden; }

.heading {
  color: #e8f1f2;
  margin-bottom: 4rem;
  text-align: center;
  text-shadow: 0.5vmin 0.5vmin 0 #001c29, 0.65vmin 0.7vmin 0 #e8f1f2;
  text-overflow: clip;
  font-size: 7vmin;
  letter-spacing: 1vmin; }

.countdown {
  text-align: center; }

.timer {
  perspective: 1000px; }
  .timer .box {
    display: inline-block;
    margin: 1rem;
    width: 10rem;
    text-align: center;
    background: #006494;
    -moz-transform-style: preserve-3d; }
    .timer .box:nth-child(2) .value {
      animation-delay: 1s; }
    .timer .box:nth-child(3) .value {
      animation-delay: 1.8s; }
    .timer .box:nth-child(4) .value {
      animation-delay: 1.3s; }
    .timer .box:nth-child(5) .value {
      animation-delay: 2s; }
    .timer .box .spacer {
      position: relative;
      content: '';
      display: block;
      height: 20px;
      background: #1b98e0; }
      .timer .box .spacer::before, .timer .box .spacer::after {
        content: '';
        position: absolute;
        top: 5px;
        width: 10px;
        height: 10px;
        background: #001c29;
        border-radius: 50%; }
      .timer .box .spacer::before {
        left: 0.8rem; }
      .timer .box .spacer::after {
        right: 0.8rem; }
    .timer .box .value {
      position: relative;
      margin: 0;
      padding: 1.2rem 0 2rem;
      font-family: "Share Tech Mono", monospace;
      font-size: 3em;
      color: rgba(232, 241, 242, 0.8);
      background: #1b98e0;
      transform-origin: top center;
      animation: wind 4s ease-out alternate infinite;
      box-shadow: 0 15px 10px -10px rgba(19, 41, 61, 0); }
    .timer .box .label {
      margin: 0;
      padding: 1rem;
      color: rgba(255, 255, 255, 0.8);
      background: #006494; }
      .timer .box .label::first-letter {
        text-transform: uppercase; }
  .timer .text {
    margin-top: 2rem;
    font-weight: 300;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    color: #13293d; }

.expired-timer .box {
  width: 100%; }

@keyframes wind {
  0% {
    transform: rotatex(0);
    box-shadow: 0 15px 10px -10px rgba(19, 41, 61, 0);
    color: rgba(232, 241, 242, 0.6);
    background: #1b98e0; }
  10% {
    transform: rotatex(20deg);
    box-shadow: 0 15px 10px -10px #0d1c2a;
    color: rgba(232, 241, 242, 0.45);
    background: #269fe5; } }

@keyframes lighting {
  0% {
    box-shadow: -16px 0 0 2px rgba(255, 255, 255, 0.5), 14px 0 0 #006494; }
  4% {
    box-shadow: -16px 0 0 2px white, 14px 0 0 #006494; }
  8% {
    box-shadow: -16px 0 0 2px rgba(255, 255, 255, 0.5), 14px 0 0 #006494; }
  12% {
    box-shadow: -16px 0 0 2px white, 14px 0 0 #006494; }
  20% {
    box-shadow: -16px 0 0 2px white, 14px 0 0 #006494; }
  22% {
    box-shadow: -16px 0 0 2px rgba(255, 255, 255, 0.5), 14px 0 0 #006494; } }

@keyframes lighting2 {
  0% {
    box-shadow: 16px 0 0 2px rgba(255, 255, 255, 0.5), -14px 0 0 #006494; }
  4% {
    box-shadow: 16px 0 0 2px white, -14px 0 0 #006494; }
  8% {
    box-shadow: 16px 0 0 2px rgba(255, 255, 255, 0.5), -14px 0 0 #006494; }
  12% {
    box-shadow: 16px 0 0 2px white, -14px 0 0 #006494; }
  20% {
    box-shadow: 16px 0 0 2px white, -14px 0 0 #006494; }
  22% {
    box-shadow: 16px 0 0 2px rgba(255, 255, 255, 0.5), -14px 0 0 #006494; } }

@media screen and (max-width: 800px) {
  .countdown {
    width: 100%;
    max-width: 25rem; }
  .heading {
    text-shadow: 0.25rem 0.25rem 0 #001c29, 0.33rem 0.35rem 0 #e8f1f2;
    font-size: 3.5rem;
    letter-spacing: 0.5rem; } }

@media screen and (max-width: 480px) {
  .timer .box {
    margin: 1rem 0.5rem;
    width: 10rem; }
  .expired-timer .box {
    width: 18rem; }
  html {
    font-size: 85%; } }
